
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Nunito:wght@400;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

#game-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg,
      #ffcce6 0%,
      #a6d0ff 25%,
      #c2e7ff 50%,
      #ffd6eb 75%,
      #b3d9ff 100%);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  z-index: 1000;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.cloud {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
  animation: float 20s infinite linear;
}

.cloud-1 {
  width: 200px;
  height: 80px;
  top: 10%;
  left: 5%;
  animation-delay: 0s;
}

.cloud-2 {
  width: 150px;
  height: 60px;
  bottom: 15%;
  right: 10%;
  animation-delay: -5s;
}

.cloud-3 {
  width: 180px;
  height: 70px;
  top: 30%;
  right: 15%;
  animation-delay: -10s;
}

.cloud-4 {
  width: 120px;
  height: 50px;
  bottom: 25%;
  left: 20%;
  animation-delay: -15s;
}

@keyframes float {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(50px) translateY(-20px);
  }

  50% {
    transform: translateX(100px) translateY(0);
  }

  75% {
    transform: translateX(50px) translateY(20px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}
